* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: sans-serif;
    color: #fdfdfd;
}

main {
    background-image: url(images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
}

.fylo, .storage {
    background-color: hsl(228, 51%, 35%);
    border-radius: 10px;
    padding: 2rem;
    margin: .5rem 0;
}

.fylo {
    border-top-right-radius: 80px;
}

.logo-container {
    width: 150px;
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.icon-container {
    width: 50px;
    height: 50px;
    
    display: flex;
    padding: .75rem .80rem;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}

.icon-container:nth-child(2){
    padding: .80rem .75rem;
}

.icon-container:nth-child(3){
    padding: 1rem .75rem;
}

.storage   {
    position: relative;
    padding-bottom: 4rem;
}

input {
    width: 100%;
    padding: .5rem;

}

.min-max {
    display: flex;
    justify-content: space-between;
}

.min, 
.max {
    font-weight: 700;
}

.remaining {
    background-color: white;
    color: hsla(229, 57%, 11%, 0.747);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    text-transform: uppercase;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    left: 70px;
    top: 130px;
}

.remaining strong {
    font-size: 2.25rem;
    margin-right: .5rem;
    color: hsl(229, 57%, 11%);
}