.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    padding: 1.5rem;
    color: var(--clr-3);
    width: 225px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
                rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:nth-child(1){
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card:nth-child(3) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card:nth-child(2) {
    background: var(--linear-background);
    color: var(--clr-1);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    border-radius: 10px;
}

.card__title {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    font-weight: 700;
}

.card__price {
    margin-bottom: 1.25rem;
    font-size: 3rem;
}

.card__price::before {
    content: '$';
    padding-right: .5rem;
}

.card__info {
    margin-top: 1rem;
    font-size: .9rem;
    width: 100%;
}

.card__info::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
    background-color: var(--clr-2);
}

.card__info:nth-child(5):after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    background-color: var(--clr-2);
}



.card__btn {
    text-decoration: none;
    color: var(--clr-1);
    background: var(--linear-background);
    border-radius: 6px;
    padding: .75rem 0;
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: .7rem;
    margin-top: 1.5rem;
    font-weight: 700;
}

.card__btn.btn-midle {
    color: var(--clr-3);
    background: var(--clr-1);
}


@media screen and (max-width: 900px){
    .cards {
        flex-direction: column;
    }

    .card {
        margin: 1rem 0;
        border-radius: 10px;
    }
}